{% extends 'base.html.twig' %}

{#{% block title %}Hello MainController!{% endblock %}#}

{% block body %}

{% include "_partials/header.html.twig" %}

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main detail START -->
<section class="pt-lg-8 pt-xl-9">
	<div class="container pt-4 pt-lg-0">
		<div class="row">
			<div class="col-xl-8 mx-auto">
				<!-- Main title -->
				<div class="text-center mb-6">
					<h1>MENTIONS LEGALES</h1>
					<p class="lead mb-0">mise à jour février 2024</p>
				</div>

				<h6 class="mb-3">Introduction</h6>
				
                <p>Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») ont pour objet de définir les modalités d’accès et les conditions d’utilisation du site www.scs-se.com (ci-après le « Site »). </p>

				<p>L’utilisation du Site est subordonnée au respect des présentes CGU que tout utilisateur reconnait accepter sans réserve du seul fait de son accès audit Site. L’utilisateur ne souhaitant pas être lié par les présentes CGU doit renoncer immédiatement à se maintenir sur le Site et en cesser immédiatement l’utilisation.</p>

				<p>La seule contrepartie à l’utilisation de ces mentions légales, est l’engagement total à laisser le lien crédit subdelirium sur cette page de mentions légales.</p>

				<p>If you have any questions or concerns about these terms, please contact us at <a href="#" class="fw-normal text-decoration-underline">+81 555 333 45</a>. Your use of our website is also governed by our Privacy Policy,. We may update these terms and conditions at any time, so please review them periodically for changes. Thank you for visiting Mizzle.</p>

				<h6 class="mb-3 mt-5">1/ Présentation de l'entreprise</h6>

				<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site <a href="#" class="fw-normal text-decoration-underline">eratis.com</a> l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>

                <p><b>Propriétaire :</b> Le Site est édité par la société Systèmes Climatiques Service, société par actions simplifiées (S.A.S) au capital de 150 000,00€ et dont le siège social est situé 4 avenue Alsace Lorraine, Parc des Béthunes, 95310 Saint-Ouen-l’Aumône – France, identifiée sous le numéro 381 167 048 RCS Pontoise, joignable au +33 (0) 1 30 30 23 30.</p>

                <p><b>Créateur  :</b> Le Site est crée par Guillaume.C, développeur web et web mobile.</p>

                <p><b>Responsable publication :</b> Systèmes Climatiques Service</p>












				<h6 class="mb-3 mt-5">Intellectual Property</h6>
				<p>All content on this website, including text, images, graphics, and logos, is the property of Mizzle and is protected by intellectual property laws.</p>
				<p> You may not use, reproduce, or distribute any content from this website without prior written consent from Mizzle</p>
				<!-- List -->
				<ul class="list-group list-group-borderless">
					<li class="list-group-item heading-color d-flex mb-0">
						<i class="bi bi-arrow-right me-2"></i>Receive instant notifications in Mizzle whenever there's an update or action in Slack
					</li>
					<li class="list-group-item heading-color d-flex mb-0">
						<i class="bi bi-arrow-right me-2"></i>Effortlessly create, assign, and manage tasks in both platforms, ensuring nothing falls through the cracks.
					</li>
					<li class="list-group-item heading-color d-flex mb-0">
						<i class="bi bi-arrow-right me-2"></i>Keep all your data consistent and up to date, whether it's customer information, project details, or important messages.
					</li>
				</ul>	

				<h6 class="mb-3 mt-5">Limitation of Liability</h6>
				<p>Mizzle makes no warranties or representations about the accuracy or completeness of the content on this website.</p>

				<p>Mizzle is not liable for any direct, indirect, consequential, or incidental damages resulting from your use of this website.</p>
			</div>
		</div> <!-- Row END -->
	</div>	
</section>
<!-- =======================
Main detail END -->

<!-- =======================
CTA START -->
<section class="pt-0">
	<div class="container">
		<div class="bg-dark rounded p-4 p-sm-6" data-bs-theme="dark">

			<div class="row align-items-center">
				<!-- Title and inputs -->
				<div class="col-md-6">
					<!-- Title -->
					<h2>Let’s automate & simplify your performance</h2>
					<p class="mb-0">Let us manage your IT for you so that you can get back to doing what you do best and we look in the future.</p>
				</div>

				<div class="col-md-6 text-end">
					<a href="contact-v1.html" class="btn btn-lg btn-primary mb-0">Get started</a>
				</div>
			</div> <!-- Row END -->
		</div>
	</div>
</section>
<!-- =======================
CTA END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

</main>

{% endblock %}
